[Desktop Entry]
Type=Application
Name=Set Wallpaper
Comment=Apply custom wallpaper for all connected monitors
Exec=/usr/local/bin/set-wallpaper.sh
Hidden=false
NoDisplay=true
X-GNOME-Autostart-enabled=true
