Host * !conductor.network.chain.blockfabric.net !github.com !genesis.blockfabric.net
  SendEnv LANG LC_*
  IdentitiesOnly yes
  LogLevel ERROR
  User blockadmin
  Identityfile ~/blockfabric-ceremony/id_rsa_nodes
  ProxyJump conductor.network.chain.blockfabric.net
  StrictHostKeyChecking no
 
Host conductor.network.chain.blockfabric.net
  SendEnv LANG LC_*
  IdentitiesOnly yes
  LogLevel ERROR
  User blockadmin
  HostName conductor.network.chain.blockfabric.net
  IdentityFile ~/blockfabric-ceremony/id_rsa_conductor
  StrictHostKeyChecking no

