Host *
  SendEnv LANG LC_*
  IdentitiesOnly yes
  LogLevel ERROR

Host * !conductor.network.brand.blockfabric.net !github.com !genesis.blockfabric.net
  Identityfile ~/blockfabric-ceremony/id_rsa_nodes
  ProxyJump conductor.network.brand.blockfabric.net
  StrictHostKeyChecking no
  User blockadmin

Host conductor.network.brand.blockfabric.net
  User blockadmin
  HostName conductor.network.brand.blockfabric.net
  IdentityFile ~/blockfabric-ceremony/id_rsa_conductor
  StrictHostKeyChecking no

